/* styles.css */


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  font-style: italic;
  /* background-color: #f0f0f0; */
  font-size: larger;
 
  /* Set background image */
  background-image: url('new6.png'); /* Assuming fun.png is in the same directory as styles.css */
  /* Adjust background properties */
  background-repeat: repeat;
  background-size: cover; /* Adjust as needed */
  background-position: top;
  margin: 0%;
  padding: 0%;
  overflow-y: auto;
}


main {
  padding: 20px;
}



code {
  color:white; /* Transparent white background */
background-color: #e4f2f200;
}


pre {
  color: white; /* Text color */
  background-color: #e4f2f200; /* Background color */
}


.highlight {
  color: red ; /* Change the color to any color you want */
  font-weight: bold; /* Optionally, make the text bold */
}



.name {
  color: white ; /* Change the color to any color you want */
  font-weight: initial; /* Optionally, make the text bold */
  font-size: 56px;
}


.button-85 {

  /* Adjust padding as needed */
  margin-top: 20px;
  margin-bottom: 10px; /* Add space between buttons */
  padding: 0.3em 2em;
  margin-left: 20px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  width: 100px;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  

 
  
}


.con {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex;
  margin-bottom: 10px;
  }

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(2px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000007F;
  left: 0;
  top: 0;
  border-radius: 10px;
}



