/* Reset default margin and padding */
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
  }
  
  /* Set default font family and color */
  body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Style the header */
  
  /* Style the main content */
  main {
    max-width: 800px;
    margin: 150px auto;
    padding: 0 0px;
  }
  
  /* Style the sections */
  section {
    margin-bottom: 20px;
  }
  
  /* Style the headings */
  h2 {
    color: #000000;
    margin-bottom: 10px;
  }
  
  /* Style the contact information */
  ul {
    list-style-type: none;
    margin-left: 0;
  }
  
  /* Style the contact form */
  form {
        background-color: rgba(255, 255, 255, 0.5); /* Adjust the RGBA values to set the background color and opacity */
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-image: url('work.gif');
        background-size: cover !important;
    ;
    }
    
  
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); 
  }
  
  textarea {

    width: 100%; /* Adjust the width as needed */
    height: 200px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.5)


  }
  button[type="submit"] {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(113, 48, 48);
    border: skyblue;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.9s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .contact-page {
    background-image: url('new6.png'); /* Assuming fun.png is in the same directory as styles.css */
    /* Adjust background properties */
    background-repeat: repeat;
    background-size: cover; /* Adjust as needed */
    background-position: top;
}

.button-85 {
  /* Adjust padding as needed */
  margin-top: 20px;
  margin-bottom: 10px; /* Add space between buttons */
  padding: 0.3em 2em;
  margin-left: 0px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: absolute; /* Position the button absolutely */
  top: 0; /* Align to the top */
  left: 5pt; /* Align to the left */
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(2px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000007F;
  left: 0;
  top: 0;
  border-radius: 10px;
}